/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
  user-select: none;
  li {
    cursor: pointer;
    user-select: none;
  }
}

button {
  user-select: none;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
  user-select: none;
  &:hover {
    text-decoration: none;
  }
}
input {
  outline: none;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  max-width: 100%;
}
